<div class="row" id="homepage">

  <div class="col-xs-12 col-sm-12 col-md-3" id="genre-list-container">
    <h4 class="header">Genres</h4>
    <ul id="genre-list"></ul>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3" id="app-list-container">
    <h4 id="header"></h4>
    <ul id="app-list"></ul>
  </div>

</div>
