<div class="row" id="homepage">

  <div class="col-xs-12 col-sm-12 col-md-3" id="genre-list-container">
    <h4 class="header">Genres</h4>
    <ul id="genre-list"></ul>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-7" id="app-list-container">
    <h4 class="header">
      <span id="header-main-text">Top Apps</span>
      <span id="top-apps-filter">This Week</span>
      <!-- <span class="pull-right" id="week-button">Top this Month</span>
      <span class="pull-right hide-first" id="month-button">Top this Week</span> -->
      <ul class="nav nav-tabs pull-right">
        <li role="presentation" class="active"><a>All Time</a></li>
        <li role="presentation"><a>This Month</a></li>
        <li role="presentation"><a>This Week</a></li>
      </ul>
    </h4>
    <ul id="app-list"></ul>
  </div>

</div>
