<div class="row" id="homepage">

  <div class="col-xs-12 col-sm-12 col-md-3" id="genre-list-container">
    <h4 class="header">Genres</h4>
    <ul id="genre-list"></ul>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-7" id="app-list-container">
    <h4 class="header">
      <span id="header-main-text">Top Apps This</span>
      <span id="week-or-month">Week</span>
      <span class="pull-right top-apps-button" id="week-button">Top this Month</span>
      <span class="pull-right top-apps-button hide-first" id="month-button">Top this Week</span>
    </h4>
    <ul id="app-list"></ul>
  </div>

</div>
