<div class="main-body-container">

  <div class="row" id="home-page-container">

    <div class="col-xs-12 col-sm-12 col-md-3" id="genre-list-container">
      <h4>Genres</h4>
      <ul id="genre-list"></ul>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3" id="app-list-container">
      <ul id="app-list"></ul>
    </div>

  </div>

</div>
