div.userauth {
  height: 560px;

  .alert {
    height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;

    button.alert-close span {
      color: black;
    }
  }

  h4 {
    font-size: 17px;
    margin: 30px 0 20px 0;
  }

  .form-group {
    margin-left: 10px;
  }

  input {
    width: 300px;
  }

  .form-inline {
    width: 300px;
    margin-left: 25px;

    input {
      width: 148px;
    }

    label {
      margin: 0;

      &:last-child {
        margin-left: 82px;
      }
    }
  }

  #signin-form {
    background: rgba(47, 54, 61, 1.0);
    height: 100%;
    color: white;
    border-radius: 0 14px 14px 0;
    float: right;

    label {
      color: white;
    }
  }

  .form-button {
    margin-left: 10px;
    margin-bottom: 20px;
  }
}
