<div id="user-auth-modal">
  <div id="signup-form">
    <h3>Create a new account</h3>

    <div class="row">
      <label for="signup-first-name">First Name</label>
      <input id="signup-first-name" class="form-control" type="text" name="user[first_name]">

      <label for="signup-last-name">Last Name</label>
      <input id="signup-last-name" class="form-control" type="text" name="user[last_name]">
    </div>
  </div>

  <div id="signin-form">

  </div>
</div>
